@import '../../assets/sass/vars';
@import '../../assets/sass/mixins';
.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $primary;
}
.loading__letter {
  font-size: 8rem;
  font-weight: 300;
  display: inline-block;
  text-transform: uppercase;
  @include tablet {
    font-size: 5rem;
  }
  @include mobile {
    font-size: 3rem;
  }
}
.loading__line {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  background: $secondary;
  height: 2px;
  width: 100vw;
  mix-blend-mode: exclusion;
}
.loading__bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  z-index: 2;
  background-color: $secondary;
}